body {
    background: url("imges/index/background.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;    
}

/* Esta clase configura los divs de las habilidades */
.section-divs {
    width: 240px;
    height: 300 ;
    margin: 10px;
    padding: 10px;
    background-color: rgba(182, 212, 198, 0.801);
    border-radius: 0.5em;
    position: relative;
}

/*Esta clase configura los botenes de la cajita de habilidades*/
.boton {
    background-color: #F9CDAD;
    text-align: center;
    border-radius: 0.5em;
    text-decoration: none;
    color: black;
    padding: 5px 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: .8s;
}

/*Esta es una pseudo clase de la clase .boton para darle otro color en base al de la clase original....
Las pseudo clases se manejan para generar eventos y posiciones. */
.boton:hover {
    background-color: rgb(252, 168, 107);
}

