.body {
    margin: 0;
    padding: 0;
}

/* Esta clase es para el tama침o y configuraci칩n de la caja de fondo del header */
.caja_encabezado {
    overflow: hidden;
    position: relative;
    background-color: rgba(252, 157, 154, 0.603);
    border-radius: 0.5em;
}
/* */

/* Esta clase configura las propiedad del titutlo h1 del emcabezado*/
.titulo-index {
    margin-left: 30px;
    font-size: 59px;
    margin-bottom: 0em;
}

/* Esta clase configura las propiedades del parrafo del encabezado*/
.titulo-p {
    margin-left: 30px;
    margin-bottom: 30px;
}

/* Esta clase configura las propiedades de la caja de paginas favoritas en general*/
.lista {
    width: 220px;
    background-color: rgba(228, 228, 196, 0.692);
    border-radius: 0.5em;
    position: fixed;
    top: 2.5%;
    right: 10px;
}

.wraper {
    max-width: calc(100% - 220px - 200px);
    margin-left: 100px;
}

/*Esta clase configura las propiedades esteticas de la caja de figuras favoritas*/
.punto-lista {
    list-style-type: none;
}


/* Esta clase confiruga las propiedads del h3 en la caja de paginas favoritas*/
.texto-lista {
    margin-left: 20px;
    margin-bottom: 0px;
}

/* ESta clase configura las propiedades de los elementos de la lista en la caja de paginas favoritas*/
.objeto-lista {
    margin: 0 auto;
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
}

/* Esta clase condigura las propiedades de los textos de los elementos de la lista en la caja de paginas favoritas*/
.objeto-lista-a {
    text-decoration: none;
    color: rgb(221, 111, 70);
}

/* Esta clase configura el section que contiene los divs de las habilidades */
.section-habilidades {
    display: flex;
}

/* Esta clase configura los divs de las habilidades */
.section-divs {
    width: 400px;
    height: 300 ;
}

/*Esta clase configura la cajita de habilidades*/


/*Esta clase configura el texto de parr치fo de cajita de habilidades*/


/*Esta clase configura el bot칩n de ver detalles de la cajita de habilidades*/