body {
    background: url("imges/index/background.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;    
}

.articulo {
    width: 40%;
    padding: 30px;
    box-sizing: border-box;
    background-color: rgba(182, 212, 198, 0.801);
    border-radius: 0.5em;
}

.letra-subtitulos2 {
    font-family: 'Dancing Script', bold700;
    font-size: 50px;
    color: rgb(112, 38, 38);
    text-align: center;
}

.section-aside {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.section-aside aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    padding: 0 20px;
    box-sizing: border-box;
}

.horizontal-img {
    padding: 10px;
    margin: 0 20px 20px 20px;
}

 horizontal-img:hover {
    border: 2px solid black;
}